@import 'nib'
@import 'normalize.styl'

body
	background #88BC40
section
	margin 70px auto
	width 650px
	text-align center
	a
		background-color #EDEDED
		color #444
		font-size 5em
		line-height 60px
		width 72px
		text-decoration none
		#marco
			display inline-block
			vertical-align middle
#marco
	border 10px solid white
	border-radius 4px
	box-shadow 0 0 25px 5px rgba( 0 , 0 , 0 , .3)
	overflow hidden
	width 464px
	ul
		margin 0
		padding 0
		width 1200px
	li
		border 1px solid red
		height 167px
		line-height 167px
		font-size 30px
		float left
		list-style none
		margin 0
		position relative
		width 230px
